
.container::before,
.container::after {
    content: "";
    width: 70vmax;
    height: 70vmax;
    position: absolute;
    background: rgba(248, 124, 224, 0.07);
    left: -20vmin;
    top: -20vmin;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 50% 50%;
    pointer-events: none;
}

.container::after {
    width: 70vmin;
    height: 70vmin;
    background: rgba(108, 134, 235, 0.07);
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    color: #ebe4e4bc;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

@keyframes morph {
    
    100% {
        border-radius: 20% 60%;
    }
    
    0% {
        border-radius: 88% 11% 28% 50% / 66% 29% 61% 24% ;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.slidein {
    animation-duration: 10s ;
    animation-name: slidein;
    animation-iteration-count: 1;
}

.vert{
    position: relative;
    width: 30%;
    animation: slidein 12s infinite alternate-reverse, spin 15s infinite;
    z-index: 2;
}


.bleu{
    position: absolute;
    top:15px;
    width: 35%;
    animation: slidein 10s infinite alternate, spin 10s infinite;
    z-index: 3;
    opacity: 0.9;
}


@keyframes slidein {
    from {
        margin-left: -30%;
        width: 30%;
    }
    
    to {
        margin-left: 100%;
        width: 30%;
    }
}


