/* FONTS BODY */

@font-face {
    font-family: "nimbusmono-bold";
    src: url(../fonts/nimbus-mono/nimbusmono-bold.otf);
}

@font-face {
    font-family: "nimbusmono-bold-oblique";
    src: url(../fonts/nimbus-mono/nimbusmono-boldoblique.otf);
}

@font-face {
    font-family: "nimbusmono-oblique";
    src: url(../fonts/nimbus-mono/nimbusmono-oblique.otf);
}

@font-face {
    font-family: "nimbusmono-regular";
    src: url(../fonts/nimbus-mono/nimbusmono-regular.otf);
}

/*animation javascript*/

/*Animation javascript*/
.js_animation {
    height: 50%;
    perspective: 1200px;
    background: rgb(6, 83, 40);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.mydiv {
    width: 40px;
    height: 40px;
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
    animation: b 3s linear infinite alternate;
    border-radius: 50%;
}

.one {
    animation: one 4s linear infinite
}

.two {
    animation: two 4s linear infinite
}

.three {
    animation: three 4s linear infinite
}

.four {
    animation: four 4s linear infinite
}


@keyframes one {

    100% {
        top: 0;
        left: 0;
        right: 100%;
        bottom: 100%;
        transform: translate3d(0, 0, -1000px);

    }
}

@keyframes two {
    100% {
        left: 0;
        bottom: 0;
        top: 100%;
        right:
            100%;
        transform: translate3d(0, 0, -1000px);

    }
}

@keyframes three {
    100% {
        right: 0;
        top: 0;
        bottom: 100%;
        left: 100%;
        transform: translate3d(0, 0, -1000px);

    }
}

@keyframes four {
    100% {
        right: 0;
        bottom: 0;
        left: 100%;
        top: 100%;
        transform: translate3d(0, 0, -1000px);
    }
}

/* FONT LOGO */


/*modal form inscription poposition 1*/


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 2.5rem;
}

.style1 .container ,
.style2 .container
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}


.style1 .login-container ,
.style2 .login-container {
    position: relative;
    width: 22.2rem;
}

.style1 .form-container,
.style2 .form-container {
    background-color: rgba(240, 248, 255, 0.647);
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.style1 .login-container form input,
.style2 .login-container form input  {

    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 2rem 0;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: solid 1px #c24d2255;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.style1 .login-container form input:focus,
.style2 .login-container form input:focus  {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.style1 .login-container form button ,
.style2 .login-container form button {
    background-color: #c24d22;
    color: var(--color);
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.style1 .login-container form button:hover, 
.style2 .login-container form button:hover{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

/* ================= LOGIN MODAL ================= */

.formLogin,
.registre {
    background-color: #2826261f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.style1 .circle ,
.style2 .circle
{
    width: 8rem;
    height: 8rem;
    background: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}

.style1 .illustration ,
.style2 .illustration 
{
    position: absolute;
    top: -14%;
    right: -2px;
    width: 90%;
}

.style1 .circle-one ,
.style2 .circle-one 
{
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
}

.style1 .circle-two,
.style2 .circle-two  {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
    -webkit-transform: translate(45%, 45%);
    -moz-transform: translate(45%, 45%);
    -ms-transform: translate(45%, 45%);
    -o-transform: translate(45%, 45%);
}

.style1 .opacity ,
.style2 .opacity 
{
    opacity: 0.6;
    text-align: center;
}

.style1 .theme-btn-container,
.style2 .theme-btn-container
 {
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.style1 .theme-btn,
.style2 .theme-btn {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.style1 .theme-btn:hover,
.style2 .theme-btn:hover
 {
    width: 40px !important;
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }

    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.hidden-element {
    display: none;

}

.active-element {
    display: flex;

}

.register-forget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}