/* .hidden-css ,.hidden-registration,.hidden-js,.hidden-login{
   display: flex;
   z-index: 1;
} */

/* .active-css , .active-registration ,.active-js , .active-login
{
   z-index: 1;
    display: flex;
} */

.style1 .titre {}