.style1 {
    font-family: "nimbusmono-regular";
}

/* Taille du footer + position */
.style1 footer {
    width: 100%;
    position: absolute;
    bottom: 2rem;
}

/* Style intérieur du footer */
.style1 .menuFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    gap: 2rem;
}


/* BUTTON CHOIX LANGUAGE */

.style1 button {
    width: 20rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5rem;
}

.style1 button.language-button {
    font-weight: 600;
    /* couleur police */
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.style1 button.language-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background du bouton face avant */
    /* background: #99ef04; */
    border-radius: inherit;

    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.style1 button.language-button:hover {
    /* Couleur back ground hover */
    /* background: #01ff91; */
    /* effet de passage vers le bas */
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

.style1 button.language-button:hover::before {
    /* ombre face avant hover */
    /* box-shadow: 0 0 0 2px #ff0000, 0 0.5em 0 0 #008cff; */
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

/* ^ ============== Bouton HTML ============== */

.style1 button.htmlButton {
    /* Background des boutons de base */
    background: #c677af;
    /* border */
    border: 2px solid #c660a9;
}

.htmlButton:hover {
    /* Couleur background hover */
    background: #ce4faa;
}

.style1 button.htmlButton::before {
    background: #c677af;
}

/* ^ ============== Bouton CSS ============== */

.style1 button.cssButton {
    /* Background des boutons de base */
    background: #1d8e48;
    /* border */
    border: 2px solid #156a35;
}

.style1 .cssButton:hover {
    /* Couleur back ground hover */
    background: #156a35;
}

.style1 button.cssButton::before {
    background: #1d8e48;
}

/* ^ ============== Bouton JS ============== */

.style1 button.jsButton {
    /* Background des boutons de base */
    background: #375ca4;
    /* border */
    border: 2px solid #244fa5;
}

.style1 .jsButton:hover {
    /* Couleur back ground hover */
    background: #24478c;
}

.style1 button.jsButton::before {
    background: #375ca4;
}


/* ^ ============== Bouton PHP ============== */

.style1 button.phpButton {
    /* Background des boutons de base */
    background: #c5ba1b;
    /* border */
    border: 2px solid rgb(234, 220, 19);
}

.style1 .phpButton:hover {
    /* Couleur back ground hover */
    background: rgb(182, 170, 13);
}

.style1 button.phpButton::before {
    background: #c5ba1b;
}

/* HEADER */

/* Taille du header*/
.style1 header {
    width: 95%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem auto 0;
    box-sizing: border-box;
}

/* Taille coté gauche */
.style1 header div {
    width: 70%;
    height: 100%;
}

/* Style logo */
.logo {
    width: 100%;
    height: 100%;
    font-size: 3rem;
}

/* Taille coté droit */
.style1 header nav {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: end;
}


.style1 header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 1rem;
}


/* ^ ============== Bouton LOGIN ============== */

.style1 button.buttonLogin {
    /* Background des boutons de base */
    background: #c24d22;
    /* border */
    border: 2px solid #9e3f1c;
}

.style1 .buttonLogin:hover {
    /* Couleur back ground hover */
    background: #9c3713;
}

.style1 button.buttonLogin::before {
    background: #9f320a;
}

.style1 button.buttonLogin {
    width: 10rem;
}

/* ^ ============== Bouton CHOICE ============== */

.style1 style1 .choice_css button {
    /* Background des boutons de base */
    background: #c24d22;
    /* border */
    border: 2px solid #9e3f1c;
}

.style1 style1 .choice_css button:hover {
    /* Couleur back ground hover */
    background: #9c3713;
}

.style1 style1 .choice_css button::before {
    background: #9f320a;
}

.style1 style1 .choice_css button {
    width: 10rem;
}

/* 1. DIV MASTER */
.style1 .choice_css {
    width: 30rem;
    height: 15rem;
    position: absolute;
    bottom: 5rem;
    left: 33rem;
    flex-direction: row;
    gap: 2rem;
}


/* 4. DIV H2 */
.style1 .choice_css button div h2 {
    font-size: x-large;
}

.style1 .choice_css button {
    background-color: #156a35;
}

/* #region static */
/* css static */

.style1 {
    background-color: bisque;
}

.style1 .forme1 {
    width: 20em;
    height: 18em;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #c677af;
    opacity: 0.3;
    position: absolute;
    left: 0em;
    top: 8em;
    overflow: hidden;
    z-index: 1;
}

.style1 .forme1:hover {
    opacity: 1;
}

.style1 .forme2 {
    width: 17em;
    height: 18em;
    border-radius: 54% 46% 24% 76% / 79% 52% 48% 21%;
    background-color: #1d8e48;
    opacity: 0.3;
    position: absolute;
    left: 12em;
    top: 8em;
    z-index: 1;
}

.style1 .forme2:hover {
    opacity: 0.6;
}

.style1 .forme3 {
    width: 17em;
    height: 15em;
    border-radius: 76% 24% 87% 13% / 79% 8% 92% 21%;
    background-color: #375ca4;
    opacity: 0.5;
    position: absolute;
    top: 8em;
    left: 20em;
    z-index: 1;
}

.style1 .forme3:hover {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: rgba(55, 92, 164, 0.58);
    box-shadow: 0px 0px 100px 0px rgba(245, 13, 253, 0.9);
}

.style1 .forme4 {
    width: 17em;
    height: 15em;
    border-radius: 10% 74% 47% 28% / 11% 63% 23% 74%;
    background-color: #c24d22;
    opacity: 0.6;
    position: absolute;
    top: 6em;
    left: 32em;
    z-index: 1;
}

.style1 .forme4:hover {
    opacity: 0.2;
}

.style1 .forme5 {
    width: 17em;
    height: 18em;
    border-radius: 30% 47% 33% 28% / 31% 40% 41% 53%;
    background-color: #f4e736;
    opacity: 0.6;
    position: absolute;
    top: 5em;
    left: 42em;
    z-index: 1;
}

.style1 .forme5:hover {
    opacity: 0.2;
}

.style1 .forme5:hover .container {
    background-color: #1d8e48;
}

.style1 .forme6 {
    width: 17em;
    height: 18em;
    border-radius: 20% 80% 47% 53% / 0% 58% 42% 100%;
    background-color: #c677af;
    opacity: 1;
    position: absolute;
    top: 6em;
    left: 54em;
    z-index: 2;
}

.style1 .forme6:hover {
    opacity: 0.2;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 8em;
    left: 54em;
}

.style1 .forme7 {
    width: 17em;
    height: 18em;
    border-radius: 52% 48% 47% 53% / 50% 74% 26% 50%;
    background-color: #1d8e48;
    opacity: 0.5;
    position: absolute;
    top: 6em;
    left: 65em;
    z-index: 1;
}

.style1 .forme7:hover {
    opacity: 0.8;
    border-radius: 76% 24% 87% 13% / 79% 8% 92% 21%;
    top: 8em;
    left: 65em;
}

.style1 .forme8 {
    width: 17em;
    height: 18em;
    border-radius: 61% 39% 70% 30% / 37% 83% 17% 63%;
    background-color: #375ca4;
    opacity: 0.7;
    position: absolute;
    top: 7em;
    left: 78em;
    z-index: 1;
}

.style1 .forme8:hover {
    background-color: rgba(244, 231, 54, 0.59);
    border-radius: 61% 39% 70% 30% / 37% 83% 17% 63%;
    border-style: 2px solid;
    box-shadow: 0px 0px 100px 0px rgba(245, 13, 253, 0.762);
    overflow: hidden;
}

.style1 .forme9 {
    width: 17em;
    height: 18em;
    border-radius: 61% 39% 70% 30% / 37% 83% 17% 63%;
    background-color: #f4e736;
    opacity: 0.4;
    position: absolute;
    top: 7em;
    left: 90em;
    z-index: 4;
}

.style1 .forme9:hover {
    background-color: rgba(200, 125, 54, 0.8);
    border-radius: 61% 39% 70% 30% / 37% 83% 17% 63%;
    overflow: hidden;
}

.style1 .spirovert {
    width: 24%;
    position: absolute;
    top: 3em;
    left: 8em;
    z-index: 1;
}

.style1 .spirovert:hover {
    width: 10%;
    position: absolute;
    top: 3em;
    left: 8em;
    z-index: 1;
    transition: 4sec;
}

.style1 .spirojaune {
    width: 8%;
    position: absolute;
    top: 9em;
    left: 57em;
    z-index: 1;
}

/* #endregion*/